@{
    ViewData["Title"] = "Aboutus Page";
}

<div class="text-center">
    <h1></h1></h1>Ak&&Ek Dairy  Farm</h1>
       @* <p>Mentor as a Service</p> *@
    <p>Get Fresh and Quality Products</p>
</div>
