@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <p>Baburao nagar </p>
    <p>Nagar Pune Road </p>
    <p>Shirur, pin 411009</p>
    <br/>
    <p>Email: Ek.Ak&&Ek@DairyForm.in</p>
    <p>Email: Ak.Ak&&Ek@DairyForm.in</p>
    <p>Contact Number:7875582147</p>
    
</div>