@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  to Ak&&EkDairyFarm</h1>
    <ol>
        <li>Milk</li>
        <li>Lashi</li>
        <li>cheese</li>
    </ol> 


</div>
